.myTagBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.playlistCreateBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.createBtnBox {
  padding-left: 25px;
}

.createBtnBox a {
  color: white;
  font-size: 0.8rem;
  transition: 0.2s;
}

.createBtnBox a:hover {
  color: crimson;
}

.createPlaylistEmpty {
  width: 100px;
}

.searchListMain {
  width: 90%;
}

.plContentsBox i {
  padding-left: 10px;
  font-size: 0.7rem;
}

.plContentsBox {
  display: flex;
  justify-content: center;
}

.fa-lock-open {
  color: #aaa;
}

.fa-lock {
  color: #666;
}

.editForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editForm > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 10px;
}
.editForm > .textAndIcon {
  position: relative;
  height: 60px;
}
.editForm > .textAndIcon > * {
  position: absolute;
}
.editForm > .textAndIcon > input {
  width: 480px;
}
.editForm > .textAndIcon > i {
  right: 10px;
}

.editForm > div > i {
  cursor: pointer;
  color: #999;
  transition: 0.2s;
  font-size: 1.5rem;
  padding-left: 10px;
}

.editForm > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 10px;
}

.editUserImgBox > div > img {
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.editUserImgBox > div > div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.8);
  color: #999;
  opacity: 0;
  transition: 0.3s;
}

.editForm > div > i {
  cursor: pointer;
  color: #999;
  transition: 0.2s;
  font-size: 1.5rem;
  padding-left: 10px;
}

.editUserImgBox > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.editUserImgBox > div > img {
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.editUserImgBox > div > div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  color: #999;
  opacity: 0;
  transition: 0.3s;
}

.editForm > .textAndIcon > i {
  right: 10px;
}

.editForm > div > i {
  cursor: pointer;
  color: #999;
  transition: 0.2s;
  font-size: 1.5rem;
  padding-left: 10px;
}

.editUserImgBox > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.editUserImgBox > div > * {
  position: absolute;
  width: 100%;
}

.editUserImgBox > div > img {
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.editUserImgBox > div > div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  color: #999;
  opacity: 0;
  transition: 0.3s;
}

.changeUserImg {
  top: 0;
  position: relative;
}

.changeUserImg > * {
  position: absolute;
}

.changeUserImg input {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.changeUserImg > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changeUserImg > div > i {
  font-size: 2.5rem;
  padding: 10px;
}

.changeUserImg > div > p {
  font-size: 0.8rem;
}

.changeUserImg > div > p:nth-child(1) {
  opacity: 0;
}

.editUserImgBox > div > div:hover {
  opacity: 1;
}

.changeUserImg > div > p:nth-child(1) {
  opacity: 0;
}

.editUserImgBox > div > div:hover {
  opacity: 1;
}

.defaultUserImg {
  bottom: 0;
}

.defaultUserImg > button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #999;
}

.editForm > div > i:hover {
  color: white;
}

.editForm > div > input {
  width: 100%;
  padding: 5px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #333;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
}

.editForm > div > input[type="text"] {
  color: #757575;
}

.editForm > div > input:focus {
  outline: none;
}

.editButtonBox {
  display: flex;
  justify-content: space-between;
}

.editButtonBox > div {
  width: 100%;
}

.editButtonBox > div > * {
  padding: 10px;
}

.editButtonBox > div > button {
  width: 100px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  transition: 0.5s;
}

.editBtn {
  color: #2868b0;
}

.editBtn:hover {
  box-shadow: 0px 0px 8px 3px #2868b0;
}

.editCancel {
  color: #333;
}

.editCancel:hover {
  box-shadow: 0px 0px 8px 3px darkred;
}

.editButtonBox > a {
  color: white;
  width: 200px;
  cursor: pointer;
  transition: 0.2s;
}

.editButtonBox > a:hover {
  color: red;
}

a {
  cursor: pointer;
}

#createFormBox {
  background-color: #333;
  cursor: default;
}

.image-preview-container {
  width: 100px;
  height: 100px;
}

.image-preview-container > div {
  position: relative;
  width: 100px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.image-preview-container > div > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-controls > * {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
}

.image-controls > *:hover {
  opacity: 1;
}

.image-controls > div {
  border-radius: 10px 10px 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.image-controls > div > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-controls > div > input {
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.image-controls > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.image-controls > button {
  border-radius: 0 0 10px 10px;
  border: none;
  color: white;
}

#createConBox {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#createConBox > input[type="text"] {
  background-color: #111;
  color: white;
  border: none;
  border-bottom: 1px solid #cccccc;
  height: 40px;
  padding: 5px 0 5px 10px;
  align-self: flex-start;
  width: 80%;
}

tags {
  background-color: #111;
  color: white;
  border: none;
  padding: 5px;
  align-self: flex-start;
  border-radius: 0px;
  overflow-x: scroll;
  white-space: nowrap;
}

.tagify.tagify {
  --tag-invalid-color: white;
  --tag-invalid-bg: white;
  --tag-remove-bg: white;
  --placeholder-color: grey;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #cccccc;
  --input-color: white;
  --tag-bg: white;
  width: 80%;
  height: 40px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.tagify.tagify--focus {
  --tags-focus-border-color: #cccccc;
}

.tagify__tag {
  background-color: white;
}

.tagify__tag > div::before {
  content: none;
}

.tagify__input {
  white-space: nowrap;
  max-width: 328.3px;
}

tags.tagify.plTags {
  white-space: nowrap;
  max-width: 328.3px;
}

.tagify__tag > div > * {
  white-space: nowrap;
}

.createPlaylistRight {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.privateBox {
  width: 60px;
  align-self: flex-end;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #b42021;
  transition: 0.2s;
}

.privateBox > input[type="radio"] {
  display: none;
}

.privateBox > * {
  position: absolute;
}

.privateBox > i {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7rem;
}

.privateBox > i:first-of-type {
  left: 0;
  top: 0;
}

.privateBox > .toggleHidden {
  background-color: #810000;
  border-radius: 5px;
  z-index: 1;
  width: 30px;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.2s;
}

.form-submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form-submit-container > button {
  padding: 10px;
  width: 90px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: 0.2s;
  cursor: pointer;
  color: white;
}

.successBtn:hover {
  color: green;
}

.cancelBtn:hover {
  color: red;
}
/* 스크롤바 스타일 */
tags::-webkit-scrollbar {
  width: 0px; /* 스크롤바의 너비 */
  height: 0px;
}

tags::-webkit-scrollbar-thumb {
  width: 10%; /* 스크롤바의 길이 */
  background: black; /* 스크롤바의 색상 */
  border-radius: 10px;
}

tags::-webkit-scrollbar-track {
  background: #111; /* 스크롤바 뒷 배경 색상 */
}
