body {
	background-color: black;
}

h1 {
	color: white;
}

.size-test {
	width: 20%;
	height: 3.5rem;
	display: flex;
	background-color: #333333;
	color: white;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
	margin-bottom: 4%;
	border-radius: 6px;
}
.size-test2 {
	width: 35%;
	height: 2.5rem;
	display: flex;
	background-color: #212121;
	color: white;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
	margin-bottom: 4%;
	border-radius: 6px;
}
p {
	color: white;
	font-weight: bold;
}