.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 80px;
}
.con{
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	height: 650px;
}
.mypageBox{
	width: 1200px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
.myLeft{
	width: 280px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 3px 3px white;
}
.myLeft > div{
	width: 100%;
	height: 100%;
}
.myProfile{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.myImg{
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.myImg img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.myProfile > *{
	margin: 6px;
}

.shareMyProfile {
	border-radius: 50px;
	background-color: skyblue;
	width: 50px;
	height: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shareMyProfile p{
	color : black;
	font-size: 6px;
	font-weight: 900;
	
}
.spotifyInfo{
	color: white;
	padding: 5px;
	border-radius: 20px;
	font-size: 0.8rem;
}

.myNick{
	color: white;
	font-weight: bold;
}
.myEmail{
	color: #999;
	font-size: 0.8rem;
}
.connectSpotify{
	background-color: #1ED760;
}
.disconnectSpotify{
	background-color: #999;
}
.myList,
.myChangeInfo{
	display: flex;
	flex-direction: column;
}
.myList div,
.myChangeInfo div{
	padding: 10px 0px 10px 30px;
	display: flex;
	align-items: center;
}
.myList a,
.myChangeInfo a{
	color: #999;
	cursor: pointer;
	transition: 0.3s;
}
.myList a:hover,
.myChangeInfo a:hover{
	color: red;
}
.myList span,
.myChangeInfo span{
	padding-left: 5px;
	font-weight: bold;
	font-size: 0.9rem;
}
.myChangeInfo{
	justify-content: space-between;
}
.myChangeInfo div:last-child span{
	font-weight: normal;
	color: red;
	font-size: 0.8rem;
}

.myRight{
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.myRight > *{
	width: 100%;
}
.tagBoxTitle {
	display: flex;
	align-items: center;
	justify-content: center;
}
.myTagBox > div:nth-child(1){
	color: white;
	font-size: 1.2rem;
	padding: 25px;
}
.myTags{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 100%;
}
.myTags > div{
	width: 150px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.myTags > div > div{
	overflow: hidden;
	width: 100px;
	height: 100px;
	transition: all 0.3s linear;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.myTags > div > div:hover{
	width: 100%;
	height: 100%;
}
.myTags > div > div:hover img{
	filter : grayscale(0);
}
.myTags > div > div:hover span{
	font-size: 1.5rem;
}
.myTags img{
	height: 400px;
	object-fit: cover;
	filter : grayscale(100%);
	transition: 0.5s;
	position: absolute;
}
.myTags span{
	position: absolute;
	color: black;
	z-index: 1;
	text-shadow: -1px 0px 1px white, 0px 1px 1px white, 1px 0px 1px white, 0px -1px 1px white;
	font-weight: bold;
	transition: 0.5s;
}
.myEtcBox{
	display: flex;
	width: 100%;
	height: 100%;
	padding-top: 20px;
}
.myEtcBox > div{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.myEtcBox > div > h1{
	padding-bottom: 10px;
}
.myEtcBox > div > div{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.myEtcBox a{
	color: white;
}
.myEtcBox a > div > img{
	transition: 0.3s;
}
.myEtcBox a:hover > div > img{
	filter: brightness(100%);
}

.etcCon{
	width: 380px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #222;
}
.etcCon > img{
	width: 100px;
	height: 100%;
	object-fit: cover;
	filter: brightness(50%);
}
.etcDesc{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.etcDesc > div{
	width: 100%;
	padding: 10px;
}
.etcTitle{
	font-size: 0.9rem;
	margin-bottom: 5px;
}
.etcTag{
	font-size: 0.7rem;
	color: #888;
	margin-bottom: 10px;
}
.plLikeCon{
	font-size: 0.9rem;
	display: inline;
	cursor: pointer;
}
.etcUserBox{
	display: flex;
	align-items: center;
}
.etcUserImg{
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
}
.etcUserNickname{
	margin-left: 10px;
	font-size: 0.8rem;
}
#redHeart{
	color: red;
}

/* 프로필 공유 관련 */

.shareProfile {
	display: flex;
	align-items: center;
	text-align: center;
	
}

#kakaotalk-sharing-btn > img {
	width:20px;
	height: 20px;
	margin-right: 5px;
	margin-top: 5px;
}

.shareProfile > i{
	display: flex;
	align-items: center;
	text-align: center;
	cursor: pointer;
}