html {
	scroll-behavior: smooth; /* 페이지 내 이동 시 부드럽게 이동 */
	overflow: hidden; /* 스크롤바 안보이게 하기 위함 */
}

/* 메인 배너 */
#mainbanner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding-top: 100px;
}

#chant {
	font-size: 2rem;
}

#maintitle {
	margin: 10px 0 30px 0;
	font-size: 5rem;
}

#maintitle {
	margin: 10px 0 30px 0;
	font-size: 5rem;
}

#mainnav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
}

#mainnav a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 100%;
	margin: 10px;
	border-radius: 10px;
	font-size: 1.5rem;
	font-weight: bold;
}

.mainSearchBox {
	width: 800px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.mainSearchBox select {
	position: absolute;
	background-color: white;
	width: 10%;
	height: 80px;
	text-align: center;
	left: 0;
	z-index: 1;
	border-radius: 25px 0px 0px 25px;
	border: 3px solid #808080;
	border-right: none;
	font-weight: bold;
}

.mainSearchBox select>option {
	font-size: 1rem;
	line-height: 20px;
}

.mainSearchBox select:focus{
	outline: none;
}

.mainSearchBox input {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 80px;
	border-radius: 25px 25px 25px 25px;
	padding-left: 15%;
	padding-right: 10%;
	border: 3px solid #808080;
	font-size: 1.3rem;
	color: #333;
}

.mainSearchBox button {
	position: absolute;
	background-color: white;
	border: 3px solid #808080;
	border-left: none;
	width: 10%;
	height: 80px;
	right: 0;
	z-index: 1;
	cursor: pointer;
	border-radius: 0px 25px 25px 0px;
}

/* 리스트 박스 */
#listBox {
	height: 100vh;
	width: 100%;
	padding-top: 150px;
	display: flex;
	flex-direction:column;
	align-content: center;
	justify-content: center;
}
.listTop{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 위쪽 랭크*/
.rankButtonBox{
  	display: flex;
  	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 50px;
	position: relative;
}

.rankButtonBox div {
	  width: 100px;
	  border: none;
	  background: none;
	  color: white;
 	  font-size: 1rem;
 	  position: absolute;
}

.rankButtonBox > div:nth-child(1) {
  z-index: 1;
}
.rankButtonBox > div:nth-child(2),
.rankButtonBox > div:nth-child(3) {
  opacity: 0;
  z-index: 0;
}

.black {
	display: none;
}

/* 중앙 메인 컨텐츠 */
.listContainer{
	height: 80%;
	width: 50%;
	position: relative;
}
.listRank{
	position: absolute;
	width: 100%;
	height: 95%;
	box-shadow: 3px 3px 5px black;
}

.listRank.hidden {
	display: none;
}

.listRank > *{
	position: absolute;
	width: 100%;
	height: 100%;
}
.listRank:nth-child(1) {
  z-index: 1;
}
.listRank:nth-child(2),
.listRank:nth-child(3) {
  opacity: 0;
  z-index: 0;
}
.listRank > img{
	object-fit: cover;
	filter: brightness(30%);
}

.listRankDesc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center ;
	z-index: 1;
}

.listRankDesc.hidden {
	display: none;
}

.listRankDesc > img{
	width: 40%;
	height: 40%;
	object-fit: cover;
	box-shadow: 3px 3px 3px black;
	
}
.listRankText{
	text-shadow: 3px 3px 3px black;
	text-align: center;
}
.listRankText > p:nth-child(1){
	font-size: 2rem;
	margin-bottom: 30px;
}
.listRankText > p:nth-child(2){
	font-size: 1.5rem;
}
.listRank:nth-of-type(1) .listRankText{
	color: #ffffff;
}
.listRank:nth-of-type(2) .listRankText{
	color: #ffffff;
}
.listRank:nth-of-type(3) .listRankText{
	color: #ffffff;
}

.emptyRight{
	display: flex;
	align-items: center ;
}

/* 오른쪽에 있는 화살표 흰색 */
.emptyRight > img{
	filter: invert(100%) 
			sepia(100%) 
			saturate(0%)
			hue-rotate(288deg) 
			brightness(102%) 
			contrast(102%);
	width: 60px;
	height: 70px;
	margin-left: 40px; 
	padding-left: 20px;
}

/* 오른쪽에 있는 화살표 빨간색 */
.emptyRight > img:hover {
	filter: invert(11%) 
			sepia(80%) 
			saturate(6630%) 
			hue-rotate(358deg) 
			brightness(106%) 
			contrast(113%);
	cursor: pointer;
	transition: 0.5s;
}

.emptyLeft{
	display: flex;
	align-items: center ;
}

/* 왼쪽에 있는 화살표 흰색 */
.emptyLeft > img{
	filter: invert(100%) 
			sepia(100%) 
			saturate(0%)
			hue-rotate(288deg) 
			brightness(102%) 
			contrast(102%);
	width: 60px;
	height: 70px;
	margin-right: 40px;
	padding-right: 20px;
}

/* 왼쪽에 있는 화살표 빨간색 */
.emptyLeft > img:hover {
	filter: invert(11%) 
			sepia(80%) 
			saturate(6630%) 
			hue-rotate(358deg) 
			brightness(106%) 
			contrast(113%);
	cursor: pointer;
	transition: 0.5s;	
}

input:focus{
	outline: none;
}