html {
	scroll-behavior: smooth; /* 페이지 내 이동 시 부드럽게 이동 */
	overflow: hidden; /* 스크롤바 안보이게 하기 위함 */
}

/* 메인 배너 */
#mainbanner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100vh;
	
	text-align: center;
}

#chant {
	font-size: 2rem;
}

#maintitle {
	margin: 10px 0 30px 0;
	font-size: 5rem;
}

#mainnav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
}

#mainnav a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 100%;
	margin: 10px;
	border-radius: 10px;
	font-size: 1.5rem;
	font-weight: bold;
}

/* 리스트 박스 */
#listBox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction:column;
	height: 100vh;
	width: 100%;
}
.listTop{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.rankButtonBox{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 100%;
	margin-right:20px;
	
	flex-direction: column;
}
.rankButtonBox h2{
	margin-bottom: 20px;
	font-size: 1.5rem;
}
.rankButtonBox button{
	width: 100px;
	border: none;
	background: none;
	color: white;
	height: 50px;
	cursor: pointer;
	transition: 0.5s;
}

.listContainer {
	position: flex;
	justify-content: center;
	align-items: center;
	
	width: 1200px;
	height: 650px;
	box-shadow: 3px 3px 5px black;
	margin-bottom: 20px;
}

.listRank {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	
	width: 1200px;
	height: 650px;
	transition: 1s;
	
}
.listRank:nth-child(1){
	z-index: 1;
}

.listRank:nth-child(2),
.listRank:nth-child(3){
	opacity: 0;
	z-index: 0;
}

/* 이미지 */
.listImg {
	filter: brightness(30%);
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.listRankDesc{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
	width: 100%;
	height: 100%;
	z-index: 1;
}

.listMiniImg {
	width: 400px;
	height: 250px;
	object-fit: cover;
	box-shadow: 3px 3px 3px black;
}

/* 리스트 랭크 텍스트 */
.listRankText {
	text-align: center;
	text-shadow: 3px 3px 3px black;
	bottom: 100px;
}

.listRankText:nth-child(1) {
	color: #ffd700;
}

.listRankText:nth-child(2) {
	color: #a3a3a3;
}

.listRankText:nth-child(3) {
	color: #cd7f32;
}

.listRankText p:nth-child(1) {
	font-size: 3rem;
	margin-bottom: 30px;
}

.listRankText p:nth-child(2) {
	font-size: 2rem;
}

.emptyRight{
	height: 100%;
	width: 100px;
}

