html {
  scroll-behavior: smooth; /* 페이지 내 이동 시 부드럽게 이동 */
  /* overflow: hidden; 스크롤바 안보이게 하기 위함 */
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

/* 헤더 영역 */
header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 1;
}

/* 로고 */
#logo {
  flex: 1;
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}
#logo img {
  width: 100px;
}

/* nav 중간 단 */
#nav1 {
  flex: 7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
#nav1 a {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 20px;
}

/* nav 끝 단 */
#nav2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#nav2 a {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 1.05rem;
  font-weight: bold;

  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
}
#my {
  color: black;
  background-color: #f5f5f5;
}
#signUp {
  color: white;
  background-color: #303030;
  border: 1px #949494 solid;
}

/* 메인 배너 */
#mainbanner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#chant {
  font-size: 2.5rem;
}
#maintitle {
  margin: 10px 0 30px 0;
  font-size: 5rem;
}
#mainnav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
#mainnav a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 100%;
  margin: 10px;
  border-radius: 10px;

  font-size: 1.5rem;
  font-weight: bold;
}
#signIn {
  color: #1e1e1e;
  background-color: #e3e3e3;
  border: 1px #767676 solid;
}
#ranking {
  background-color: #2c2c2c;
  color: #f5f5f5;
  border: 1px #2c2c2c solid;
}

/* 리스트 박스 */
#listBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.listRank {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}
.listRankBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1200px;
  height: 650px;
}
/* 이미지 */
.listImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  position: absolute;
  /* box-shadow: 0px 10px 50px red; */
}
.listMiniImg {
  position: absolute;
  top: 100px;
  width: 400px;
  height: 250px;
  object-fit: cover;
}

/* 리스트 랭크 텍스트 */
.listRankText {
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 5px black;
  bottom: 100px;
}
.listRankTest:nth-child(1) {
  color: #ffd700;
}
.listRankTest:nth-child(2) {
  color: #a3a3a3;
}
.listRankTest:nth-child(3) {
  color: #cd7f32;
}
.listRankText p:nth-child(1) {
  font-size: 3rem;
  margin-bottom: 30px;
}
.listRankText p:nth-child(2) {
  font-size: 2rem;
}
/* 리스트랭크 아이콘 */
.listRankIcon {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 50px;
}
.listRankIcon i {
  font-size: 3rem;
  color: white;
}

/* footer 영역 */
footer {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
  width: 100%;
  height: 130px;
}
footer p {
  font-size: 2rem;
}

#footernav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

#footernav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;

  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  margin: 0px 5px 0px 5px;
}
