body {
	margin-top: 30px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	position: relative;
	width: 80%;
	max-width: 800px;
	padding: 20px;
	border-radius: 10px;
}

h1 {
	display: flex;
	align-items: center;
	color: #dddddd;
	font-size: 2.5rem;
	background-color: #111;
	margin-bottom: 30px;
	justify-content: center;
}

.form-section-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.form-section-img-content {
    display: flex;
    align-items: center;
    gap: 20px; /* label과 button 사이의 간격 */
    margin-top: 10px;
}

.form-section-img img {
	margin-bottom: 20px;
}

.form-section-img label {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	border: none;
	font-weight: bold;
	width: 120px;
	height: 30px;
	border-radius: 8px;
	padding: 0;
	margin: 5px;
	background-color: #e3e3e3; color : black;
	transition: background-color 0.3s;
	color: black;
}

.form-section-img label:hover {
	color: white;
	background-color: red;
}

.form-section-img button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	font-weight: bold;
	width: 120px;
	height: 30px;
	border-radius: 8px;
	border: none;
	padding: 0;
	margin: 5px;
	transition: background-color 0.3s;
}

.form-section-img-buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.form-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 20px;
}

.form-section label {
	font-size: 1rem;
	text-align: center;
}

.form-section input[type="text"] {
width: 100%;
  color: white !important;
  background-color: #111;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 20px;
}

.button-group {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.button-group button {
	font-size: 1rem;
	font-weight: bold;
	width: 130px;
	height: 40px;
	border-radius: 10px;
	background-color: #e3e3e3;
	color: black;
	border: none;
	margin: 7px;
	transition: background-color 0.3s;
}

button:hover {
	color: white;
	background-color: red;
}