/* 플레이리스트 수정 화면 메인 */
.updatePlInfoMain {
	overflow-y: scroll;
	position: relative;
	width: 100%;
	height: 100%;
}
/* 스크롤바 스타일 */
.updatePlInfoMain::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}
.updatePlInfoMain::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: black; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.updatePlInfoMain::-webkit-scrollbar-track {
    background: #111;  /* 스크롤바 뒷 배경 색상 */
}


.updatePlInfoBox {
	padding: 20px;
}

/* 플레이리스트 이미지 수정 영역 */
.updatePlImgBox {
	padding-bottom: 20px;
}
.updatePlImgBox > div {
	position: relative;
	display: flex;
	width: 250px;
	height: 250px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
	overflow: hidden;
	object-fit: cover;
	z-index: 1;
}
.updatePlImgBox > div > * {
	position: absolute;
	width: 100%;
}
.updatePlImgBox > div > div {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.8);
	color: #999;
	opacity: 0;
	transition: 0.3s;
}
.updatePlImgBox > div > div:hover {
	opacity: 1;
}

/*
.updatePlImg {
	padding-bottom: 20px;
}

.updatePlImgBox > div > img {
	height: 100%;
	object-fit: cover;
	z-index: 1;
}
*/
.changePlImg {
	top: 0;
	position: relative;
}
.changePlImg > * {
	position: absolute;
}
.changePlImg input {
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 3;
	cursor: pointer;
}
.changePlImg > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.changePlImg > div > i {
	font-size: 2.5rem;
	padding: 10px;
}
.changePlImg > div > p {
	font-size: 0.8rem;
}
.changePlImg > div > p:nth-child(1) {
	opacity: 0;
}


.defaultImg {
	bottom: 0;
}
.defaultImg > button {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: transparent;
	border: none;
	color: #999;
}

/* 플레이리스트 제목 수정 영역 */
.updatePlTitle {
	font-size: 2.5rem;
    font-weight: 600;
}
.updatePlTitle input[type="text"] {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 3px;
    width: 90%;
}
.updatePlTitle input[type="text"]::placeholder {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0.1;
}


/* 자물쇠 lock(플리 공개여부) */
.updatePlInfoBox .updatePlTitle i{
	padding-left: 10px;
	font-size: 0.7rem;
	justify-content: center;
}
.fa-lock-open {
	color: #aaa;
}
.fa-lock{
	color: #666;
}


/* 태그 영역 */
.playlistTagBox {
	padding: 10px 15px;
}
.plTags {
	display: flex;
	gap: 10px;
	font-size: 0.8rem;
    color: #808080;
    font-weight: bold;
    padding-top: 10px;   
}



/* 공개 비공개 토글 영역 */
.privateBox {
  width: 60px;
  align-self: flex-end;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #b42021;
  transition: 0.2s;
}

.privateBox > input[type="radio"] {
  display: none;
}

.privateBox > * {
  position: absolute;
}

.privateBox > i {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7rem;
}

.privateBox > i:first-of-type {
  left: 0;
  top: 0;
}

.privateBox > .toggleHidden {
  background-color: #810000;
  border-radius: 5px;
  z-index: 1;
  width: 30px;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.2s;
}


/* 수정 저장, 취소 버튼 영역 */
.editButtonBox {
  	display: flex;
  	justify-content: space-between;
  	padding-left: 30px;
}
.editButtonBox > div > * {
  	padding: 10px;
}
.editButtonBox > div > button {
  	width: 100px;
  	cursor: pointer;
  	background-color: white;
  	border-radius: 5px;
  	border: none;
  	font-weight: bold;
  	transition: 0.5s;
}
.editBtn {
  	color: #2868b0;
}
.editBtn:hover {
  	box-shadow: 0px 0px 8px 3px #2868b0;
}
.editCancel {
  	color: #333;
}
.editCancel:hover {
  	box-shadow: 0px 0px 8px 3px darkred;
}
.editButtonBox > a {
  	color: white;
  	width: 200px;
  	cursor: pointer;
  	transition: 0.2s;
}
.editButtonBox > a:hover {
	color: red;
}




/* 이전 화면으로 이동 */
.goPlaylistBtn {
	position: fixed;
	top: 120px; /* 화면 상단에서의 거리 */
	right: 350px; /* 화면 오른쪽에서의 거리 */
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
