.updatePlInfoMain {
	overflow-y: scroll;
	position: relative;
	width: 100%;
	height: 100%;
}

/* 플레이리스트 이미지 영역 */
.updatePlInfoBox {
	padding: 20px 20px 10px 20px;
}

.updatePlImg {
	padding-bottom: 10px;
}
.updatePlImg img {
	display: flex;
	width: 250px;
    height: 250px;
	justify-content: center;
    align-items: center;
	border-radius: 10px;
	margin-left: 10px;
}
.updatePlTitle {
	font-size: 2.5rem;
    font-weight: 600;
}
.updatePlTitle input[type="text"] {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 3px;
    width: 80%;
}
.updatePlTitle input[type="text"]::placeholder {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0.1;
}

/* 자물쇠 lock(플리 공개여부) */
.PlaylistInfoBox .plTitle i{
	padding-left: 10px;
	font-size: 0.7rem;
	justify-content: center;
}
.fa-lock-open {
	color: #aaa;
}
.fa-lock{
	color: #666;
}


.goPlaylistBtn {
	position: fixed;
	top: 120px; /* 화면 상단에서의 거리 */
	right: 350px; /* 화면 오른쪽에서의 거리 */
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}










/* 이미지 변경 클릭 시 파일 불러오기 시스템 버튼 형태 처리 */
/* 파일 입력 요소 숨기기 */
#imgChange {
	display: none;
}
/* label 스타일링 */
label[for="imgChange"] {
	cursor: pointer;
	text-decoration: none;
}